.game {
    background-color: var(--azul-claro);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.placar {
    width: 100%;
    background-color: var(--cor-branca);
    border-radius: 15px;
    padding: 11px 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    box-sizing: border-box;
}

.titulo-placar {
    text-align: center;
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 25px;
}

.placar-resultado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.placar-pontos {
    font-size: 48px;
    font-weight: 700;
    color: var(--azul-escuro);
}

.placar-jogador {
    font-weight: 500;
    font-size: 16px;
    color: var(--cor-cinza);
}

.jogo-da-velha {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

.container-jogo {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.jogo-espaco {
    width: 60%;
    height: 60%;
    background-color: var(--cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-cinza);
    font-weight: 700;
    font-size: 100px;
    border-radius: 15px;
    padding: 15px;
}